<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <script src="/javascript/codemirror/lib/codemirror.js"></script>
    <link rel="stylesheet" href="/javascript/codemirror/lib/codemirror.css">
    <script src="/javascript/codemirror/mode/javascript/javascript.js"></script>
    <script src="/javascript/codemirror/mode/htmlmixed/htmlmixed.js"></script>
    <script src="/javascript/codemirror/mode/xml/xml.js"></script>
    <script src="/javascript/codemirror/mode/css/css.js"></script>

    <title>Admin</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img class="d-inline-block align-top" th:src="@{/images/logo.png}" alt="" width="30" height="30"/><span th:text="${@environment.getProperty('spring.application.name')}"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li><a class="nav-item nav-link" href="/admin" th:text="Admin"/></li>
            <li th:each="c: ${allContent}"><a class="nav-item nav-link" th:href="${'/content/edit?id=' + c.getId()}" th:text="${c.getName()}"/></li>
        </ul>
        <span>
        <a class="btn-secondary btn-sm" href="/logout">Log out</a>
    </span>
    </div>
</nav>

<div class="container">
    <div class="card text-center border-light">
        <div class="card-body">
            <h5 class="card-title">Admin</h5>
        </div>
    </div>

    <form method="post" th:action="@{'/content/edit?id=' + ${content.id} }" enctype="application/json">
        <div class="form-group">
            <textarea id="content" name="content" class="form-control" th:utext="${content.content}"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <script>
        var myCodeMirror = CodeMirror.fromTextArea(document.getElementById("content"), {
            value: "<p></p>\n",
            mode:  "htmlmixed",
            indentUnit: 4,
            indentWithTabs: true,
            lineNumbers: true
        });
    </script>

</div>


<!--<div th:replace="fragments/footer.html :: footer"></div>-->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.js" integrity="sha512-zO8oeHCxetPn1Hd9PdDleg5Tw1bAaP0YmNvPY8CwcRyUk7d7/+nyElmFrB6f7vg4f7Fv4sui1mcep8RIEShczg==" crossorigin="anonymous"></script>


</body>
</html>