<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />

    <title>Sensors</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img class="d-inline-block align-top" th:src="@{/images/logo.png}" alt="" width="30" height="30"/><span th:text="${@environment.getProperty('spring.application.name')}"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li><a class="nav-item nav-link" href="/sensors" th:text="#{Sensors}"/></li>
            <li th:each="content: ${allContent}"><a class="nav-item nav-link" th:href="${'/content?id=' + content.getId()}" th:text="${content.getName()}"/></li>
        </ul>
    </div>
</nav>

<div class="container">

    <div class="card text-center border-light">
        <div class="card-body">
            <h5 class="card-title" th:text="#{MapOfSensors}"></h5>
        </div>
    </div>

    <div style="position: relative; height:50vh" id="mapContainer"></div>

    <div class="card text-center border-light">
        <div class="card-body">
            <h5 class="card-title" th:text="#{ListOfSensors}"></h5>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-8">
        <table class="table table-stripped">
            <thead>
            <tr>
                <th scope="col" th:text="#{Name}"></th>
                <th scopr="col" th:text="#{Longitude}"></th>
                <th scope="col" th:text="#{Latitude}"></th>
                <th scope="col" th:text="#{Type}"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="sensor: ${sensors}">
                <td><p th:text="${sensor.name}"/></td>
                <td><p th:text="${sensor.longitude}"/></td>
                <td><p th:text="${sensor.latitude}"/></td>
                <td><p th:text="${sensor.type}"/></td>
                <td>
                    <a th:href="@{'/sensor/' + ${sensor.id} + '?time-range=day'}" class="btn btn-primary" th:text="#{Details}"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>


<!--<div th:replace="fragments/footer.html :: footer"></div>-->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.js" integrity="sha512-zO8oeHCxetPn1Hd9PdDleg5Tw1bAaP0YmNvPY8CwcRyUk7d7/+nyElmFrB6f7vg4f7Fv4sui1mcep8RIEShczg==" crossorigin="anonymous"></script>

<script type="text/javascript" charset="utf-8" th:inline="javascript">

    function moveMapToLocation(map){
        map.setCenter({lat: /*[[${latitude}]]*/ 0.0, lng: /*[[${longitude}]]*/ 0.0});
        map.setZoom(/*[[${zoom}]]*/ 12);
    }

    function pointer(color, link) {
        return '<svg width="30" height="30" ' +
            'xmlns="http://www.w3.org/2000/svg"  xmlns:xlink="http://www.w3.org/1999/xlink">' +
            //'<a href="' + link + '">' +
            '<circle fill="' + color + '" cx="12" cy="12" r="12" width="30 height="30" />' +
            '<text x="12" y="18" font-size="12pt" font-family="Arial" font-weight="bold" text-anchor="middle" ' +
            'fill="white">S</text>' +
            //'</a>' +
            '</svg>';
    }

    function addSensor(group, lat, lng, color, link) {
        //Create an icon object, an object with geographic coordinates and a marker:
        var icon = new H.map.DomIcon(pointer(color, link)),
            coords = {lat: lat, lng: lng},
            marker = new H.map.DomMarker(coords, {icon: icon});

        marker.setData(link)
        group.addObject(marker);
    }

    // Initialize the platform object:
    var platform = new H.service.Platform({
        'apikey': /*[[${apikey}]]*/ ''
    });

    // Obtain the default map types from the platform object
    var defaultLayers = platform.createDefaultLayers();

    // Instantiate (and display) a map object:
    var map = new H.Map(
        document.getElementById('mapContainer'),
        defaultLayers.vector.normal.map,
        {
            zoom: 12,
            center: { lng: 18.59814, lat: 53.01375 },
            pixelRatio: window.devicePixelRatio || 1
        });

    var ui = H.ui.UI.createDefault(map, defaultLayers)

    // Behavior implements default interactions for pan/zoom (also on mobile touch environments)
    var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));

    var group = new H.map.Group();
    map.addObject(group)

    group.addEventListener('tap', function (evt) {
        window.location.href = evt.target.getData()
    }, false);

    const longitudes = /*[[${longitudes}]]*/ [];
    const latitudes = /*[[${latitudes}]]*/ [];
    const colors = /*[[${colors}]]*/ [];
    const links = /*[[${links}]]*/ [];

    for (let i = 0; i< longitudes.length; i++) {
        addSensor(group, latitudes[i], longitudes[i], colors[i], links[i])
    }

    // Now use the map as required...
    window.onload = function () {
        moveMapToLocation(map);
    }
</script>

</body>
</html>